<div class="mb-50">
  <% current_user.orders.in_cart.each do |order| %>
    <% product = order.product %>
    <div id="<%= "cart-#{product.id}" %>" class="flex flex-row border border-gray-200 px-4 py-2">
      <strong>Name:</strong>
      <%= product.title %>
      <strong>Description:</strong>
      <%= product.body %>
      <strong>Price:</strong>
      <%= product.price %>
      <%= form_with(url: cart_add_path, class:"flex flex-col justify-between gap-2 px-4") do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: order.quantity, min: 0, max: 10 %>
        <%= f.submit "Ok", class:"bg-yellow-500 hover:bg-yellow-700 rounded-full px-4 py-1 cursor-pointer" %>
      <% end %>
      <div>
          <strong>Total:</strong>
          <%= order.total %>
          <%= form_with(url: cart_remove_path) do |f| %>
            <%= f.hidden_field :id, value: order.id %>
            <%= f.submit "X", class:"text-blue-800 px-4 border border-gray-200 rounded-full cursor-pointer" %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>