<%= link_to product.title, product_path(product), data:{turbo: false} %>
</br>
<%= product.price %>
</br>
<p>________________</p>
<%= form_with(url: cart_add_path) do |f| %>
  <%= f.hidden_field :id, value: product.id %>
  <%= f.number_field :quantity, value: 1, min: 1 %>
  <%= f.submit "Add To Cart", class:"bg-red-600 rounded-xl hover:bg-red-400 px-4 py-2" %>
<% end %>
<p>________________</p>
